

html {

  display: flex;

  height: 100vh;
}

.headers {
background-color: #424585;
display: flex;
flex: auto;
flex-direction: column;
height: 400px;



}

.main-logo{

    margin-left: 50px;
}



 a:link{
text-decoration:none;
color:#F9FAF8;
}



.second-image{

margin-left:1200px;
}

.top-links{

  display: flex;
  margin-left: 700px;
  margin-top: -300px;
  justify-content: space-around;
 
}

.header-text{

    margin-left:50px;
    margin-top: 50px;
    width: 280px;
    flex-wrap: wrap;
    color: #F9FAF8;
    
}




a {
  color: #F9FAF8;

}

a:hover {
  color: black;
  text-decoration: underline;
}

 h1{
  font-weight: bolder;
  
}

.upper-middle{
  display: flex;
  flex-direction: column;
  
  flex-wrap: wrap;
  flex-shrink: 1 1 auto;
  background-color: rgb(245, 238, 238);
  padding-top: 10px;
        
 }

.image2{

  border: 2px solid grey;
  width: 800px;
  height: 500px;
  max-width: fit-content;
  display: flex;
  
 
}

.image1{

  border: 2px solid grey;
  max-width: fit-content;
  height: 500px;
  display: flex;
  
 }


.image3 { 

  border: 2px solid grey;
  max-width: fit-content;
  
  height:500px;
  display: flex;
  flex: 1 1 600px;
  
  display: flex;
  

}

.image4 {

  border: 2px solid grey;
  max-width: fit-content;
  height: 500px; 
  display: flex;
  
  
}

 


.el1{

  display: flex;
  flex-direction: column;
  
  
}

.el1 > p {

  color: rgb(38, 35, 85);
  width: 400px;
color: #030cb1;

  
}



.el2{

  display: flex;
  flex-direction: column;
  
  
}

.el2 > p {

  width: 400px;
  color: #030cb1;
}


.el3{

  display: flex;
  flex-direction: column;
}

.el3 > p {

  
  width: 400px;
  color: #030cb1;
}


.el4{

  display: flex;
  flex-direction: column;
}

.el4 > p {

  color: #030cb1;
  width: 400px;
}

.lower-middle {

  display: flex;
  flex-direction: column;
  flex: auto;
  background-color:#424585 ;
  color: #F9FAF8;}

  .upper-footer {

  display: flex;
  flex-direction: column;
  background-color: rgb(245, 238, 238);
  color:#030cb1;

  }

.upper-footer p >  .sign-up{

color:#030cb1 }

  .first-two{

    display: flex;
    justify-content: center;
    flex: 1 1 auto;
  }

  .second-two{
    display: flex;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
  }

  .final-section {

    justify-content: center;
    display: flex;
  }

  
  

