
.headers {
background-color: #424585;
display: flex;
flex:1 1 auto;
flex-direction: column;
height: 400px;


}

.main-logo{

    margin-left: 50px;
}



 a:link{
text-decoration:none;
color:#F9FAF8;
}



.second-image{

margin-left:1200px;
}

.top-links{

  display: flex;
  margin-left: 700px;
  margin-top: -300px;
  justify-content: space-around;
 
}

.header-text{

    margin-left:50px;
    margin-top: 50px;
    width: 280px;
    flex-wrap: wrap;
    color: #F9FAF8;
    
}

a {
  color: #F9FAF8;

}

a:hover {
  color: black;
  text-decoration: underline;
}

 h1{
  font-weight: bolder;
  
}

section {
display: flex;  


}
