

html {

  display: flex;

  height: 100vh;
}

.headers {
background-color: #424585;
display: flex;
flex: auto;
flex-direction: column;
height: 400px;
margin-bottom: 30px;


}

.main-logo{

    margin-left: 50px;
}



 a:link{
text-decoration:none;
color:#F9FAF8;
}



.second-image{

margin-left:1200px;
}

.top-links{

  display: flex;
  margin-left: 700px;
  margin-top: -300px;
  justify-content: space-around;
 
}

.header-text{

    margin-left:50px;
    margin-top: 50px;
    width: 280px;
    flex-wrap: wrap;
    color: #F9FAF8;
    
}




a {
  color: #F9FAF8;

}

a:hover {
  color: black;
  text-decoration: underline;
}

 h1{
  font-weight: bolder;
  
}



.image2{

  border: 2px solid grey;
  width: 800px;
  height: 500px;
  max-width: fit-content;
  object-fit: contain;
  
}

.image1{

  border: 2px solid grey;
  max-width: fit-content;
  height: 500px;
  object-fit: contain;
 

}


.image3 { 

  border: 2px solid grey;
  max-width: fit-content;
  height: 500px;
  object-fit: contain;

}

.image4 {

  border: 2px solid grey;
  max-width: fit-content;
  height: 500px; 
  object-fit: contain;
}

 .upper-middle{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   flex-shrink: 0 1 auto;
         
  }


.el1{

  display: flex;
  flex-direction: column;
  
  
}

.el1 > p {

  color: rgb(38, 35, 85);
  width: 400px;
color: #030cb1;

  
}



.el2{

  display: flex;
  flex-direction: column;
  
  
}

.el2 > p {

  width: 400px;
  color: #030cb1;
}


.el3{

  display: flex;
  flex-direction: column;
}

.el3 > p {

  
  width: 400px;
  color: #030cb1;
}


.el4{

  display: flex;
  flex-direction: column;
}

.el4 > p {

  color: #030cb1;
  width: 400px;
}


